@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #FFFDF8;
  --color-foreground: #1F2937;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: #1F2937;
  --color-sidebar-border: #1F2937;
  --color-sidebar-accent-foreground: #1F2937;
  --color-sidebar-accent: #FFF4DA;
  --color-sidebar-primary-foreground: #1F2937;
  --color-sidebar-primary: #FFC480;
  --color-sidebar-foreground: #1F2937;
  --color-sidebar: #FFFDF8;
  --color-chart-5: #5CF1A4;
  --color-chart-4: #FFC480;
  --color-chart-3: #FFC480;
  --color-chart-2: #FFF4DA;
  --color-chart-1: #FFFDF8;
  --color-ring: #1F2937;
  --color-input: #1F2937;
  --color-border: #1F2937;
  --color-destructive: #EF4444;
  --color-accent-foreground: #1F2937;
  --color-accent: #FFF4DA;
  --color-muted-foreground: #4B5563;
  --color-muted: #FFF4DA;
  --color-secondary-foreground: #1F2937;
  --color-secondary: #FFFDF8;
  --color-primary-foreground: #1F2937;
  --color-primary: #FFC480;
  --color-popover-foreground: #1F2937;
  --color-popover: #FFFDF8;
  --color-card-foreground: #1F2937;
  --color-card: #FFF4DA;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: #0f2de3;
  --foreground: #1F2937;
  --card: #FFF4DA;
  --card-foreground: #1F2937;
  --popover: #FFFDF8;
  --popover-foreground: #1F2937;
  --primary: #d6107a;
  --primary-foreground: #1F2937;
  --secondary: #FFFDF8;
  --secondary-foreground: #1F2937;
  --muted: #FFF4DA;
  --muted-foreground: #4B5563;
  --accent: #FFF4DA;
  --accent-foreground: #1F2937;
  --destructive: #EF4444;
  --border: #1F2937;
  --input: #1F2937;
  --ring: #1F2937;
  --chart-1: #FFFDF8;
  --chart-2: #FFF4DA;
  --chart-3: #FFC480;
  --chart-4: #FFC480;
  --chart-5: #5CF1A4;
  --sidebar: #FFFDF8;
  --sidebar-foreground: #1F2937;
  --sidebar-primary: #FFC480;
  --sidebar-primary-foreground: #1F2937;
  --sidebar-accent: #FFF4DA;
  --sidebar-accent-foreground: #1F2937;
  --sidebar-border: #1F2937;
  --sidebar-ring: #1F2937;
}

.dark {
  --background: #1F2937;
  --foreground: #FFFDF8;
  --card: #374151;
  --card-foreground: #FFFDF8;
  --popover: #374151;
  --popover-foreground: #FFFDF8;
  --primary: #FFC480;
  --primary-foreground: #1F2937;
  --secondary: #4B5563;
  --secondary-foreground: #FFFDF8;
  --muted: #4B5563;
  --muted-foreground: #9CA3AF;
  --accent: #4B5563;
  --accent-foreground: #FFFDF8;
  --destructive: #DC2626;
  --border: #FFFDF8;
  --input: #FFFDF8;
  --ring: #9CA3AF;
  --chart-1: #374151;
  --chart-2: #4B5563;
  --chart-3: #FFC480;
  --chart-4: #FFC480;
  --chart-5: #5CF1A4;
  --sidebar: #374151;
  --sidebar-foreground: #FFFDF8;
  --sidebar-primary: #FFC480;
  --sidebar-primary-foreground: #1F2937;
  --sidebar-accent: #4B5563;
  --sidebar-accent-foreground: #FFFDF8;
  --sidebar-border: #FFFDF8;
  --sidebar-ring: #9CA3AF;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}